.half-circle {
    width: 300px;
    height: 150px;
    background-color: gold;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 10px solid gray;
    border-bottom: 0;
    margin: 40px auto;
}