<ion-card style="height: 45%; margin-top: 50px">
  <ion-slides class="slider" style="height: 100%; width: 100%">
    <ion-slide style="height: 100%">
      <distance
        [S0]="S0"
        [S1]="S1"
        [S2]="S2"
        [S3]="S3"
        [S4]="S4"
        [S5]="S5"
        [S6]="S6"
      ></distance>
    </ion-slide>

    <ion-slide style="height: 100%">
      <bumpers
        [Bumper1]="bumper1"
        [Bumper2]="bumper2"
        [Bumper3]="bumper3"
        [Bumper4]="bumper4"
      ></bumpers>
    </ion-slide>
  </ion-slides>
</ion-card>

<ion-card style="height: 50%; padding-right: 5px">
  <div style="width: 100%; text-align: center">
    <div style="height: 70px; margin-bottom: 5px">
      <ion-button
        (click)="socket.moveForward(infoEduService.speed)"
        style="width: 100%; height: 100%"
      >
        <ion-icon name="caret-up-outline"></ion-icon>
      </ion-button>
    </div>
    <div style="height: 150px; margin-bottom: 5px">
      <ion-button
        (click)="socket.rotateLeft(infoEduService.angle)"
        style="width: 30%; height: 100%"
      >
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
      <ion-button
        color="danger"
        (click)="socket.stop()"
        style="width: 35%; height: 100%"
      >
        <ion-icon name="stop-outline"></ion-icon>
      </ion-button>
      <ion-button
        (click)="socket.rotateRigth(infoEduService.angle)"
        style="width: 30%; height: 100%"
      >
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <div style="height: 70px; margin-bottom: 5px">
      <ion-button
        (click)="socket.moveBack(infoEduService.speed)"
        style="width: 100%; height: 100%"
      >
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-card>
