<ion-header translucent>
  <ion-toolbar>
    <ion-title>Setpoints</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <div>
    <ion-item>
      <ion-label>IP:</ion-label>
      <ion-input
        [(ngModel)]="infoEduService.ip"
        type="string"
      ></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label>Porta:</ion-label>
      <ion-input
        [(ngModel)]="infoEduService.adress"
        type="number"
      ></ion-input>
    </ion-item>
  </div>
  <ion-button style="width: 100%" (click)="connect()"> Conectar </ion-button>

  <div>
    <ion-item>
      <ion-label>Velocidade:</ion-label>
      <ion-input
        [(ngModel)]="infoEduService.speed"
        type="number"
      ></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-item>
      <ion-label>Ângulo:</ion-label>
      <ion-input
        [(ngModel)]="infoEduService.angle"
        type="number"
      ></ion-input>
    </ion-item>
  </div>
  <ion-button style="width: 100%" (click)="infoEduService.saveMovementInfo()"> Salvar </ion-button>