<ion-card-header>
  <ion-card-title>Bumpers</ion-card-title>
</ion-card-header>

<ion-card>
  <div>
    <ion-chip [style.background]="Bumper1? '#B22222':'#228B22'">
      <ion-label>Esquerda Superior</ion-label>
    </ion-chip>
  </div>
  <div>
    <ion-chip [style.background]="Bumper2? '#B22222':'#228B22'">
      <ion-label>Esquerda Inferior</ion-label>
    </ion-chip>
  </div>
  <div>
    <ion-chip [style.background]="Bumper3? '#B22222':'#228B22'">
      <ion-label>Direita Superior</ion-label>
    </ion-chip>
  </div>
  <div>
    <ion-chip [style.background]="Bumper4? '#B22222':'#228B22'">
      <ion-label>Direita Inferior</ion-label>
    </ion-chip>
  </div>
</ion-card>
